/* ---------- Sección Nosotros ---------- */
.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 1vmax;
  gap: 6vmax;
}

.nosotros-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vmax;
  flex-wrap: nowrap; 
  margin-top: 0;
  padding: 0.5vmax 2vmax;
  /* border: solid 2px yellow; */
}



.nosotros-logos img {
  height: auto;
  width: 8vmax;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.logo2 {
  width: 14vmax !important; 
}

.logo3 {
  width: 6vmax !important; 
}

.logo5 {
  width: 14vmax !important; 
}

.nosotros-logos img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.nosotros-hero {
  width: 70%;
  height: auto;
  display: flex;
  align-items:center;       
  justify-content: center; 
  margin-top: 3vmax;
  gap: 2vmax;
  background-image: url(../../assets/luz-violeta.png);
   background-size: 130%;      
  background-position: center;
  background-repeat: no-repeat; 
  
}


.nosotros-img {
  width: 45%;
  margin: 0;
  border-radius: 1vmax ;
  mask-image: radial-gradient(circle, black 30%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 30%, transparent 100%);
}

.card-text {
  display: flex;
  flex-direction: column; 
  gap: 2vmax;
  
}

.titulo-card {
  color: var(--white);
  font-size: 3vmax !important;
  font-weight: 600;
  line-height: 1.2;

}


.nosotros-hero h3 {
  color: var(--white);
  font-size: 1.2vmax;
  font-weight: 400;
  line-height: 1.4;
}


.nosotros-texto-extra p {
  color: var(--white);
  text-align: center;
  font-size: 1.5vmax;
  font-weight: 400;
  width: 70%;
  line-height: 1.2;
  margin: 0 auto 4vmax auto;
  
}

/* ---------- Mobile ---------- */
@media (max-width: 900px) { 

  .nosotros-logos {
    gap: 5vmax;
    flex-wrap: wrap; 
    padding: 1rem 0;
    
  }

  .nosotros-hero {
    width: 80%;
    flex-direction: column-reverse;
    background-size: 230%;      
    background-position: center calc(100% + 140px);
    background-repeat: no-repeat; 
    gap: 4vmax;
   
  }

  .card-img {
    display: flex;
    justify-content: start; 
  }

  .nosotros-img {
    width: 100%;
    margin: 0;
    
  }

  .card-text {
    gap: 4vmax;
    
  }
  .titulo-card {
    text-align: center;
    font-size: 3.4vmax !important;
    

  }


  .nosotros-hero h3 {
    font-size: 2vmax;
    text-align: center;
    padding: 0 1vmax;
  }

  .nosotros-texto-extra p {
    color: var(--white);
    text-align: center;
    font-size: 2vmax;
    font-weight: 400;
    width: 90%;
    line-height: 1.2;
    margin: 0 auto 4vmax auto;
    
  }
}


/* @media (max-width: 768px) { */


  .nosotros-hero h2 {
    font-size: 5vw;
    max-width: 100%;
  }

  .nosotros-texto-extra {
    width: 90%;
    font-size: 1rem;
    line-height: 1.6;
  }

  .nosotros-logos {
    gap: 10vmax;
    flex-wrap: wrap; 
    padding: 1rem 0;
    
  }

  .nosotros-logos {
    padding: 1rem 2rem;
    gap: 3vmax;
    
  }
/* } */