.header-container{

  margin: 0;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8vmax 0 3vmax 0;

  background: linear-gradient(270deg, #05050500, #3003346f, #05050500);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}


@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  /* border: solid 2px yellow; */
   
}

.header-logo {
  
  width: 16vmax;
  display: flex;  
  
}

.header-logo img {
  width: 100%;
  display: flex;
  align-items: center;
  
}

/* .header-title {
    
} */

.header-title h1 {
  font-size:3.2vmax;
  font-weight: 600;
  color: var(--white);
  line-height: 1.2;
  
}

.header-subtitles {
  margin-top: 3vmax;
  display: flex;
  flex-direction: column;
  /* gap: 0.8rem; */
}

.header-subtitles h2 {
  font-size: 1.5vmax;
  font-weight: 400;
  color: var(--white);
  text-align: center;
 
}

/* Mobile */
@media (max-width: 900px) {

    .header-container {
      /* margin-top: 15vmax; */
      background-size: 130%;
      background-position: calc(100% + -220%) calc(100% + -180%);
      padding-top: 9vmax;
    }

   .header-top {
    flex-direction: column; /* apilar logo y título */
    align-items: center;    /* centrar horizontalmente */
    justify-content: center;
    gap: 4vmax;
    border: none; /* opcional, quitar borders de debug */
    /* border: solid 2px pink; */
  }

  .header-logo {
    justify-content: center; /* logo centrado en mobile */
    border: none; /* quitar border debug */
    width: 30vmax;
    margin-right: 6vmax;
    /* border: solid 3px white; */
  }
/* 
  .header-logo img {
 
  } */

  .header-title {
   
    border: none;
    text-align: center; /* título centrado */
  }

  .header-title h1 {
    font-size: 3.4vmax; 
  }  

  .header-subtitles {
    margin-top: 5vmax;
    gap: 0.5rem;
  }

  .header-subtitles h2 {
    /* font-size: 4vw; */ /* más pequeño en mobile */
    font-size: 2vmax;
    padding: 0 3vmax;
    font-weight: 500;
  }
}

@media (max-width: 480px) {

  .header-container {
    background-size: 135%;
    background-position: calc(100% + -150%) calc(100% + -280%);
  }
}