
.boton {
  font-family: 'Satoshi', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  padding: 0.6rem 1.3rem;
}

/* Botón principal */
.boton.primario {
  background: linear-gradient(90deg,  #ffd5e5cc 10%, #b61ae5c1);
  color: #000001;
  font-weight: bold;
  padding: 0.6rem 1.3rem;
}

.boton.primario:hover {
  background-color: #DB519F;
  transform: scale(1.01);
}

/* Botón secundario */
.boton.secundario {
  background: linear-gradient(90deg,  #ffd5e5cc 10%, #b61ae5c1);
  color: #000001;
  font-weight: bold;
  width: 60%;
}

.boton.secundario:hover {
  background-color: #DB519F;
  transform: scale(1.01);
}


@media (max-width: 900px) { 

  .boton {
    font-size: 1rem;
    padding: 0.9rem 0.7rem;
  }

  .boton.secundario {
    width: 90%;
    align-self: center;
  }

}  
/* 
@media (max-width: 400px) { 

  .boton.secundario {
    width: 90%;
    
  }

}   */